Repository kubb-labs/kubb, pull requests merged in 2024-09, with the labels that each got.

#1176 Fixes/swr mutations key fn
  .changeset/popular-sloths-chew.md
  e2e/kubb.config.js
  e2e/schemas/dataset_api.yaml
  packages/plugin-swr/src/components/Mutation.tsx
  packages/plugin-swr/src/components/__snapshots__/Mutation/Pets.ts
Labels: v3, @kubb/plugin-swr, v2

#1182 Chore/refactor client plugin
  docs/documentation/plugins/plugin-client/index.md
  docs/package.json
  e2e/package.json
  examples/advanced/configs/kubb.config.ts
  examples/advanced/package.json
  examples/client/kubb.config.ts
  examples/client/templates/Client.tsx
  examples/fetch/src/gen/index.ts
  examples/fetch/src/gen/operations.ts
  examples/msw/package.json
  examples/react-query/kubb.config.ts
  examples/react-query/package.json
  examples/simple-single/package.json
  examples/solid-query/package.json
  examples/svelte-query/package.json
  examples/vue-query/package.json
  examples/vue-query/vite.config.ts
  package.json
  packages/cli/package.json
  packages/config-tsup/package.json
  packages/kubb/package.json
  packages/mocks/hellowWorld.js
  packages/oas/package.json
  packages/plugin-client/src/OperationGenerator.test.tsx
  packages/plugin-client/src/components/Client.test.tsx
  packages/plugin-client/src/components/Client.tsx
  packages/plugin-client/src/components/Operations.test.tsx
  packages/plugin-client/src/generators/clientGenerator.tsx
  packages/plugin-client/src/generators/index.ts
  packages/plugin-client/src/generators/operationsGenerator.tsx
  packages/plugin-client/src/plugin.ts
  packages/plugin-client/src/types.ts
  packages/unplugin-kubb/package.json
  pnpm-lock.yaml
Labels: v3, @kubb/plugin-client

#1250 fix: add missing freeform object definition to plugin-oas schema generator
  .changeset/poor-candles-wash.md
  packages/plugin-oas/src/SchemaGenerator.ts
Labels: v3, @kubb/plugin-oas, v2

#1268 fix: Use of `enabled` based on optional params
  .changeset/popular-donkeys-speak.md
  docs/changelog.md
  examples/advanced/configs/kubb.config.ts
  examples/advanced/src/gen/clients/hooks/petController/useAddPet.ts
  examples/advanced/src/gen/clients/hooks/petController/useDeletePet.ts
  examples/advanced/src/gen/clients/hooks/petController/useFindPetsByStatus.ts
  examples/advanced/src/gen/clients/hooks/petController/useFindPetsByTags.ts
  examples/advanced/src/gen/clients/hooks/petController/useFindPetsByTagsInfinite.ts
  examples/advanced/src/gen/clients/hooks/petController/useGetPetById.ts
  examples/advanced/src/gen/clients/hooks/petController/useUpdatePet.ts
  examples/advanced/src/gen/clients/hooks/petController/useUpdatePetWithForm.ts
  examples/advanced/src/gen/clients/hooks/petController/useUploadFile.ts
  examples/advanced/src/gen/clients/hooks/petsController/useCreatePets.ts
  examples/advanced/src/gen/clients/hooks/userController/useCreateUser.ts
  examples/advanced/src/gen/clients/hooks/userController/useCreateUsersWithListInput.ts
  examples/advanced/src/gen/clients/hooks/userController/useDeleteUser.ts
  examples/advanced/src/gen/clients/hooks/userController/useGetUserByName.ts
  examples/advanced/src/gen/clients/hooks/userController/useLoginUser.ts
  examples/advanced/src/gen/clients/hooks/userController/useLogoutUser.ts
  examples/advanced/src/gen/clients/hooks/userController/useUpdateUser.ts
  examples/react-query/src/gen/hooks/useFindPetsByTagsInfiniteHook.ts
  examples/react-query/src/gen/hooks/useGetOrderByIdHook.ts
  examples/react-query/src/gen/hooks/useGetOrderByIdSuspenseHook.ts
  examples/react-query/src/gen/hooks/useGetPetByIdHook.ts
  examples/react-query/src/gen/hooks/useGetPetByIdSuspenseHook.ts
  examples/react-query/src/gen/hooks/useGetUserByNameHook.ts
  examples/react-query/src/gen/hooks/useGetUserByNameSuspenseHook.ts
  examples/react-query/src/gen/hooks/useUpdatePetWithFormHook.ts
  examples/react-query/src/gen/hooks/useUpdatePetWithFormSuspenseHook.ts
  examples/simple-single/src/gen/hooks.ts
  examples/solid-query/src/gen/hooks/createGetOrderById.ts
  examples/solid-query/src/gen/hooks/createGetPetById.ts
  examples/solid-query/src/gen/hooks/createGetUserByName.ts
  examples/solid-query/src/gen/hooks/createUpdatePetWithForm.ts
  examples/svelte-query/src/gen/hooks/createGetOrderById.ts
  examples/svelte-query/src/gen/hooks/createGetPetById.ts
  examples/svelte-query/src/gen/hooks/createGetUserByName.ts
  examples/svelte-query/src/gen/hooks/createUpdatePetWithForm.ts
  examples/vue-query/src/gen/hooks/useGetOrderById.ts
  examples/vue-query/src/gen/hooks/useGetPetById.ts
  examples/vue-query/src/gen/hooks/useGetUserByName.ts
  packages/plugin-react-query/src/components/InfiniteQueryOptions.tsx
  packages/plugin-react-query/src/components/QueryOptions.tsx
  packages/plugin-react-query/src/generators/__snapshots__/findInfiniteByTags.ts
  packages/plugin-react-query/src/generators/__snapshots__/findInfiniteByTagsCursor.ts
  packages/plugin-react-query/src/generators/__snapshots__/postAsQuery.ts
  packages/plugin-solid-query/src/components/QueryOptions.tsx
  packages/plugin-solid-query/src/generators/__snapshots__/postAsQuery.ts
  packages/plugin-svelte-query/src/components/QueryOptions.tsx
  packages/plugin-svelte-query/src/generators/__snapshots__/postAsQuery.ts
  packages/plugin-vue-query/src/components/InfiniteQueryOptions.tsx
  packages/plugin-vue-query/src/components/QueryOptions.tsx
  packages/plugin-vue-query/src/generators/__snapshots__/findInfiniteByTags.ts
  packages/plugin-vue-query/src/generators/__snapshots__/findInfiniteByTagsCursor.ts
  packages/plugin-vue-query/src/generators/__snapshots__/postAsQuery.ts
  packages/react/src/utils/getFunctionParams.ts
Labels: bug, v3, @kubb/plugin-react-query, v2
